---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="logo-mask" class="fixed top-0 w-full h-screen">
	</div>
	<h1 id="probando" class="text-4xl text-blue-500 fixed top-0 font-bold">This is a text to proof it's working</h1>
</Layout>

<style>
	#logo-mask {
    background: white;
    mask-image: url("/Stone-studio_LOGO.png");
    mask-position: center 25%;
    mask-repeat: no-repeat;
    mask-size: clamp(5000vh, 3500%, 0vh);
  }
</style>

<script>
	import { gsap } from "gsap";
	console.log('GSAP Version: ',gsap.version )
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger)

	const tl = gsap.timeline({
		scrollTrigger: {
			scrub: 1 //Sincroniza el scroll con la animación
		}
	})

	tl.to('#probando', {opacity: 0}).to(
      "#logo-mask",
      {
        maskSize: "clamp(20vh, 25%, 30vh)",
      }
    )
</script>
