---
import Layout from '../layouts/Layout.astro';

import ImgBackground from "../assets/hero-img-bg.webp"
import Logo from "../assets/logo-icon.svg"
import ShortName from "../assets/short-name.svg"
import MenuIcon from "../assets/menu_icon.svg"
import LogoName from "../assets/logo-mask-test.svg"
import About from '../components/About.astro';

---

<Layout>
  <div class="wrapper">
    <About />
      <div class="image-container">
          <img src={LogoName.src} />
      </div>
  </div>

</Layout>

<style is:global>
  @import "tailwindcss";
  @import "../styles/global.css";
</style>


<script>
  import { gsap } from "gsap"

  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  window.addEventListener("load", () => {
    gsap.timeline({
        scrollTrigger: {
            trigger: ".wrapper",
            start: "top top",
            end: "+=100%",
            pin: true,
            scrub: true,
            markers: false,
        },
  })
        .to("img", {
            scale: 2,
            z: 350,
            clipPath: "inset(10%)",
            transformOrigin: "center center",
            ease: "Power4.inOut",
        })
  })
</script>
