---
import Layout from '../layouts/Layout.astro';

import Mask from "../assets/img-mask.svg"
import MobileMask from "../assets/img-mask-mobile.svg"
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Contactar from '../components/Contactar.astro';
import Reservas from '../components/Reservas.astro';
import Proyectos from '../components/Proyectos.astro';
import Footer from '../components/Footer.astro';

---

<Layout>
  <div class="wrapper">
    <Hero />
    <About />
    <Services />
    <Proyectos />
    <Reservas />
    <Contactar />
    <Footer />
      <div class="image-container">
          <img id="img-anime" src={MobileMask.src} alt="Imagen para mobile" class="block md:hidden"/>
          <img id="img-anime" src={Mask.src} alt="Imagen para resto dispositivos" class="hidden md:block"/>
      </div>
  </div>

</Layout>

<style is:global>
  @import "tailwindcss";
  @import "../styles/global.css";
</style>


<script>
  import { gsap } from "gsap"

  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  gsap.to("#img-anime", {
      delay: 0.5,
      duration: 2.5,
      scale: 2,
      opacity: 0,
      clipPath: "inset(10%)",
      transformOrigin: "center center",
      ease: "Power4.inOut",
      autoAlpha: 0,
      onComplete: () => {
        const el = document.querySelector(".image-container");
        if (el instanceof HTMLElement) {
          el.style.pointerEvents = "none";
          el.style.zIndex = "-1";
        }
      }
  })

</script>
