---
import Layout from '../layouts/Layout.astro';

import Mask from "../assets/img-mask.svg"
import MobileMask from "../assets/img-mask-mobile.svg"
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';

---

<Layout>
  <div class="wrapper">
    <Hero />
    <About />
      <div class="image-container">
          <img id="img-anime" src={MobileMask.src} alt="Imagen para mobile" class="block md:hidden"/>
          <img id="img-anime" src={Mask.src} alt="Imagen para resto dispositivos" class="hidden md:block"/>
      </div>
  </div>

</Layout>

<style is:global>
  @import "tailwindcss";
  @import "../styles/global.css";
</style>


<script>
  import { gsap } from "gsap"

  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  window.addEventListener("load", () => {
    gsap.timeline({
        scrollTrigger: {
            trigger: ".wrapper",
            start: "top top",
            end: "+=100%",
            pin: true,
            scrub: true,
            markers: false,
        },
  })
        .to("#img-anime", {
            scale: 2,
            z: 350,
            clipPath: "inset(10%)",
            transformOrigin: "center center",
            ease: "Power4.inOut",
            autoAlpha: 0,
        })

    gsap.to("#hero", {
    scrollTrigger: {
      trigger: "#hero",
      start: "top center",
      end: "bottom top",
      scrub: true,
    },
    scale: 1
  })
})
</script>
