
<section id="nosotros" class="relative flex flex-col items-center justify-start gap-12 px-4 py-25 md:py-40">
    <h2 class=" max-w-[800px] text-2xl md:text-4xl font-bold text-center">🧑‍💻 ¿Por qué trabajar con nosotros, si ahí fuera hay mil opciones?</h2>
    <article class="max-w-[800px] flex flex-col gap-4 text-lg">
        <p >Buena pregunta.</p>
        <p>Podrías contratar a una agencia con 20 empleados, fotos en coworkings modernos y frases como “estrategia digital 360º”.</p>
        <p>O podrías trabajar con Zero Sugar, un estudio pequeño que no disfraza lo simple ni vende humo en bote.</p>
        <p>Aquí hacemos webs desde cero, a medida de lo que tú necesitas.
        Sin adornos, sin efectos especiales innecesarios, y sin decirte que sí a todo para cerrar el proyecto.</p>
        <p>Nos gusta escuchar, entender tu negocio, y si no vemos claro lo que pides, te lo vamos a decir.</p>
        <p>No porque seamos bordes. Sino porque queremos que tu web funcione, no que parezca bonita en Behance y no sirva para nada.</p>
        <p>Estamos empezando. Y eso, lejos de ser una desventaja, es la mejor noticia que te podemos dar:
        tenemos hambre, tenemos tiempo, y tenemos la cabeza puesta en que te vaya bien.</p>
        <p>En unos meses puede que no podamos decirte lo mismo.
        Pero hoy sí. Así que si estás aquí, enhorabuena: has llegado en el momento justo.</p>        
    </article>
    <a href="/contactar"
          class="bg-[#e2a165] text-white text-lg px-4 py-2 rounded-lg hover:bg-[#856547] transition">
          Contactar
    </a>
</section>

<script>
  import { gsap } from "gsap"

  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  gsap.from("#nosotros", {
    scrollTrigger: {
        trigger: "#nosotros",
        start: "top 60%",
    },
      duration: 1,
      x: -100,
      opacity: 0,
      ease: "Power4.inOut",
  })

</script>