
<section id="nosotros" class="relative flex flex-col items-center justify-start gap-12 px-4 py-25 md:py-40">
    <h2 class=" max-w-[800px] text-2xl md:text-4xl font-bold text-center">¿Para qué pagar a alguien si ya hay webs gratis?</h2>
    <article class="max-w-[800px] flex flex-col gap-4 text-lg">
        <p>Hoy en día puedes hacerte una web tú solo.</p>
        <p>Hay plantillas. Hay editores arrastrar-y-soltar. Hay inteligencia artificial que te la monta en 5 minutos.</p>
        <p>Puedes poner tu nombre, una foto, y un texto tipo “soy diseñador y me apasiona mi trabajo”.</p>
        <p>Y ya está.</p>
        <p>Si con eso te basta, no necesitas a nadie. De verdad.</p>
        <p>Pero si lo que quieres es que esa web haga algo más que estar ahí ocupando espacio, entonces igual merece la pena pensarlo dos veces.</p>
        <p>Porque no se trata solo de tener una web. Se trata de tener una que funcione.</p>
        <p>Una que se vea bien en el móvil de quien te está buscando. Una que cargue rápido. Que sea accesible. Que no se rompa en cuanto alguien hace scroll.</p>
        <p>Y, sobre todo, una que hable de ti incluso cuando tú no estás delante.</p>
        <p>Que diga lo que haces sin parecer que lo copiaste de ChatGPT. Que tenga tu tono, tu estilo, tu forma de pensar.</p>
        <p>Aquí no usamos plantillas de copiar y pegar. Porque si tu historia es diferente, tu web también debería serlo.</p>
        <p>Un buen portfolio no es una tarjeta de visita digital. Es una puerta abierta a nuevas oportunidades.</p>
        <p>Puede que no lo necesites ahora. Pero el día que alguien te diga “¿me pasas tu web?”, ojalá tengas algo más que un enlace bonito.</p>
        <p>Tener una web no te cambia la vida. Pero no tenerla te puede cerrar unas cuantas puertas.</p>
                 
    </article>
    <a href="#contactar"
          class="bg-[#e2a165] text-white text-lg px-4 py-2 rounded-lg hover:bg-[#856547] transition">
          Contactar
    </a>
</section>

<script>
  import { gsap } from "gsap"

  import { ScrollTrigger } from "gsap/ScrollTrigger"

  gsap.registerPlugin(ScrollTrigger)

  gsap.from("#nosotros", {
    scrollTrigger: {
        trigger: "#nosotros",
        start: "top 60%",
    },
      duration: 1,
      x: -100,
      opacity: 0,
      ease: "Power4.inOut",
  })

</script>