---
import LogoName from '../assets/logo-name.svg';
---

<section class="w-full h-dvh bg-[url('../assets/hero-img-bg.webp')] bg-cover bg-center relative px-4 md:px-16 xl:px-40">
  <div class="flex flex-col items-center justify-start pt-10 md:pt-40 h-full text-white">
    <img src={LogoName.src} alt="Logo" class="w-72 md:w-[700px] xl:w-[1000px]" />
    <h1 class="text-xl text-center md:text-2xl lg:text-3xl font-bold mb-6">Diseñamos sitios web 100% personalizables</h1>
    <div class="flex flex-col md:flex-row gap-4">
      <a href="https://calendly.com/zero-sugar/zero-sugar" class="px-8 py-2 bg-white text-[#e2a165] font-bold text-lg rounded-2xl">Reservar Consultoría</a>
      <a href="#contactar" class="px-8 py-2 bg-[#e2a165] text-white font-bold text-lg rounded-2xl">Contactar</a>
    </div>
  </div>
</section>