---
import LogoName from '../assets/logo-name.svg';
---

<section class="w-full h-dvh bg-[url('../assets/hero-img-bg.webp')] bg-cover bg-center relative px-8 md:px-16 xl:px-40">
  <div class="flex flex-col items-center justify-start pt-40 h-full text-white">
    <img src={LogoName.src} alt="Logo" class="w-40 md:w-72 lg:w-96 xl:w-[800px]" />
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold">Tu Estudio para crear sitios web 100% personalizables</h1>
  </div>
</section>