---
import NavBar from "../components/Nav.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Zero Sugar Estudio</title>
	<meta name="description" content="Estudio enfocado en el desarrollo web. Creación de páginas web 100% personalizadas.">
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
</style>
