---
import KeepScrolling from "../assets/keep-scrolling.svg"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Zero Sugar Estudio</title>
	<meta name="description" content="Estudio enfocado en el desarrollo web. Creación de páginas web 100% personalizadas.">
  </head>
  <body>
    <slot />
    <div class="w-screen flex justify-center">
      <KeepScrolling
        class="fixed bottom-3 text-pink-300 drop-shadow-2xl animate-bounce-pulse z-1000"
      />
    </div>
  </body>
</html>

<style is:global>
  @import "tailwindcss";
</style>
